$egg-w: 40px;
$egg-h: 20px;
$fail-w: 40px;
$fail-h: 20px;

* {
    margin: 0;
    padding: 0;
}

#game {
    margin: 0 auto;
    width: 99%;
    max-width: 1000px;
    height: 500px;
    border: 1px red solid;
    position: relative;
    background: white;
}

.score,
.info {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}

.stop {
    background: red !important;
}

.coll {
    width: #{$egg-w * 5};
    height: #{$egg-h * 6};
    /*border: 1px green solid;*/
    position: absolute;

    .woolf {
        width: 25px;
        height: 50px;
        position: absolute;
        bottom: -50px;

        &.active {
            background: orange;
        }
    }

    &#coll_1 {
        top: 0px;
        left: 0px;

        .woolf {
            right: -25px;
        }
    }

    &#coll_2 {
        top: 150px;
        left: 0px;

        .woolf {
            right: -25px;
        }
    }

    &#coll_3 {
        top: 0px;
        right: 0px;

        .woolf {
            left: -25px;
        }
    }

    &#coll_4 {
        top: 150px;
        right: 0;

        .woolf {
            left: -25px;
        }
    }

    .item:nth-child(1) {
        display: none;
    }

    @for $i from 0 through 4 {
        &#coll_1 .item:nth-child(#{$i + 2}),
        &#coll_2 .item:nth-child(#{$i + 2}) {
            margin-left: #{$egg-w * $i};
        }

        &#coll_3 .item:nth-child(#{$i + 2}),
        &#coll_4 .item:nth-child(#{$i + 2}) {
            margin-left: #{$egg-w * (4 - $i)};
        }
    }

    .item {
        width: $egg-w;
        height: $egg-h;
        border: 1px black solid;

        &.selected {
            background: silver;
        }

        &.last {
            border: none;
            background: none;
        }
    }
}

.fail-line {
    position: absolute;
    bottom: 0;
    height: $fail-h;
    width: #{$fail-w * 5 + 5 * 2};
    display: flex;
    background: aquamarine;

    &.fail_left {
        left: $egg-w;
        flex-direction: row-reverse;
    }

    &.fail_right {
        right: $egg-w;
    }

    .fail-item:first-child {
        display: none;
    }

    .fail-item {
        width: $fail-w;
        height: $fail-h;
        border: 1px blue solid;
    }

    .going {
        background: gold;
    }
}

.keyboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: goldenrod;
    opacity: 0.3;
    z-index: 100;

    .key {
        border: 1px greenyellow solid;
        position: absolute;
        width: 50%;
        height: 50%;

        &.tl {
            top: 0;
            left: 0;
        }

        &.tr {
            top: 0;
            right: 0;
        }

        &.bl {
            bottom: 0;
            left: 0;
        }

        &.br {
            bottom: 0;
            right: 0;
        }
    }
}
