@import "vars";

* {
  margin: 0;
  padding: 0;
  color: $color-ib-grey;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.hide {
  display: none !important;
}

.visible-hide {
  visibility: hidden;
}

.fullSize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.turn-info {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: none;
  z-index: $layer-turn-info;

  .vertically.mobile-device & {
    display: block;
  }
}

.game {
  width: 100vw;
  height: 100vh;
  //background: $color-ib-blue;
  background: linear-gradient(180deg,#8FE7EC,#ECF1F1);
  margin: 0 auto;
  position: relative;

  .desktop-device & {
    min-width: 1000px;
  }
}

.greeting {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $layer-greeting;
  background: rgba(255, 255, 255, 0.5);
}

.app-info {
  background: black;
  color: lawngreen;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $layer-app-info;
}

.show-mobile {
  .desktop-device & {
    display: none !important;
  }
}

.show-desktop {
  .mobile-device & {
    display: none !important;
  }
}
