@import "vars";

* {
  margin: 0;
  padding: 0;
  color: $color-ib-grey;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  width: 100vw;
  height: 100vh;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.hide {
  display: none !important;
}

.visible-hide {
  visibility: hidden;
}

.fullSize {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(95deg);
  }
}

.turn-info {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: none;
  z-index: $layer-turn-info;
  background: $main-bg;
  align-items: center;

  div {
    width: 100%;
  }

  .device-icon {
    text-align: center;
    animation: spin 1.5s ease-in-out infinite;
    font-size: 10em;
  }

  p {
    text-align: center;
    font-size: 2em;
    color: $color-ib-orange;
    font-weight: 900;
  }

  .vertically.mobile-device & {
    display: flex;
  }
}

.game {
  width: 100vw;
  height: 100vh;
  background: $main-bg;
  margin: 0 auto;
  position: relative;

  .desktop-device & {
    min-width: 1000px;
  }
}

.greeting {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $layer-greeting;
  background: rgba(255, 255, 255, 0.5);
}

.app-info {
  background: black;
  color: lawngreen;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $layer-app-info;
}

.show-mobile {
  .desktop-device & {
    display: none !important;
  }
}

.show-desktop {
  .mobile-device & {
    display: none !important;
  }
}
.input-wrapper {
  font-size: $input-font-size;
  width: 100%;
}

.input {
  font-size: $input-font-size;
  padding: $input-padding-top $input-padding-left;
  border: 3px $color-ib-grey inset;
  border-radius: 20px;

  .mobile-device & {
    font-size: #{$input-font-size / 2};
  }
}

.label {
  font-size: $label-font-size;

  .mobile-device & {
    font-size: #{$label-font-size / 2};
  }
}


.btn {
  background: $color-ib-orange;
  color: #fff;
  cursor: pointer;

  &.grey {
    background: $color-ib-grey-dark;
  }
}
