@import "vars";

.crashed {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: $layer-messages;

  .coll {
    display: flex;
    position: absolute;
    width: 33%;

    &.left {
      flex-direction: row-reverse;
      left: 0;
      bottom: 0;
    }

    &.right {
      right: 0;
      bottom: 0;
    }

    div {
      width: $width;
      height: $height;
      visibility: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 90%;
      margin: 0 10px;

      &.letter.item_1 {
        background-image: url("../../../src/img/Letter_animation/Letter_animation_1.svg");
      }
      &.letter.item_2 {
        background-image: url("../../../src/img/Letter_animation/Letter_animation_2.svg");
      }
      &.letter.item_3 {
        background-image: url("../../../src/img/Letter_animation/Letter_animation_3.svg");
      }
      &.letter.item_4 {
        background-image: url("../../../src/img/Letter_animation/Letter_animation_4.svg");
      }
      &.letter.item_5 {
        background-image: url("../../../src/img/Letter_animation/Letter_animation_5.svg");
      }

      &.email.item_1 {
        background-image: url("../../../src/img/Message_animation/Message_animation_1.svg");
      }
      &.email.item_2 {
        background-image: url("../../../src/img/Message_animation/Message_animation_2.svg");
      }
      &.email.item_3 {
        background-image: url("../../../src/img/Message_animation/Message_animation_3.svg");
      }
      &.email.item_4 {
        background-image: url("../../../src/img/Message_animation/Message_animation_4.svg");
      }
      &.email.item_5 {
        background-image: url("../../../src/img/Message_animation/Message_animation_5.svg");
      }

      &.active {
        visibility: visible;
      }
    }
  }
}
