@import "vars";

.crashed {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: $layer-messages;

  .coll {
    display: flex;
    position: absolute;
    width: 33%;

    &.left {
      flex-direction: row-reverse;
      left: 0;
      bottom: 0;
    }

    &.right {
      right: 0;
      bottom: 0;
    }

    div {
      width: $width;
      height: $height;
      //visibility: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto 90%;
      margin: 0 10px;

      &.active {
        visibility: visible;
      }
    }

    &.email {
      div {
        &:nth-child(1) {
          background-image: url("../../../src/img/Letter_animation/Letter_animation_1.svg");
        }
        &:nth-child(2) {
          background-image: url("../../../src/img/Letter_animation/Letter_animation_2.svg");
        }
        &:nth-child(3) {
          background-image: url("../../../src/img/Letter_animation/Letter_animation_3.svg");
        }
        &:nth-child(4) {
          background-image: url("../../../src/img/Letter_animation/Letter_animation_4.svg");
        }
        &:nth-child(5) {
          background-image: url("../../../src/img/Letter_animation/Letter_animation_5.svg");
        }
      }
    }

    &.message {
      div {
        &:nth-child(1) {
          background-image: url("../../../src/img/Message_animation/Message_animation_1.svg");
        }
        &:nth-child(2) {
          background-image: url("../../../src/img/Message_animation/Message_animation_2.svg");
        }
        &:nth-child(3) {
          background-image: url("../../../src/img/Message_animation/Message_animation_3.svg");
        }
        &:nth-child(4) {
          background-image: url("../../../src/img/Message_animation/Message_animation_4.svg");
        }
        &:nth-child(5) {
          background-image: url("../../../src/img/Message_animation/Message_animation_5.svg");
        }
      }
    }
  }
}
