@import "vars";
@import "auth";
@import "common";
@import "shelf";
@import "crashed";
@import "messages";
@import "score";
@import "woolf";
@import "tapper";

.decoration {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 4vw;
    left: 2vw;
    width: 22vw;
    height: 8vw;
    z-index: $layer-score;

    background-image: url("../../../src/img/logo.svg");
    background-position: top left;
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }

  .bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $layer-first-bg;

    div {
      position: absolute;
      height: $shelf-bottom;
      bottom: -100px;
      width: 100%;
    }

    .left {
      left: -200px;
      background-image: url("../../../src/img/Bush_left_front.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }

    .right {
      right: -100px;
      background-image: url("../../../src/img/Bush_right_front.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }

  .bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $layer-second-bg;

    div {
      position: absolute;
      height: $shelf-top;
      bottom: -100px;
      width: 60%;
    }

    .left {
      left: -100px;
      background-image: url("../../../src/img/Bush_left_back.svg");
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }

    .right {
      right: -100px;
      background-image: url("../../../src/img/Bush_right_back.svg");
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }

  .bg-3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $layer-third-bg;
    background-image: url("../../../src/img/Bushes_background-1.svg");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: auto 100%;
  }

  .floor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 2px $floor-color solid;
    height: 6px;
    background: $lite-trees-color;
    border-bottom: 6px $floor-color solid;
    z-index: $layer-floor;
  }
}

.controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $layer-controls;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .controls-info {
    margin-top: 20px;
  }
}

.info-block {
  padding: 20px 50px;
  font-size: 20px;
  border: 2px $color-ib-orange solid;
  border-radius: 10px;
  background: $color-ib-blue;
}

