$full-width: 1200px;
$width: 3vw;
$height: 3vw;

$sky-color: #fff;
$lite-trees-color: #d1fcf7;
$floor-color: #148997;

$shelf-top: 60%;
$shelf-bottom: 35%;

$main-bg: linear-gradient(180deg,#8FE7EC,#ECF1F1);
$color-ib-orange: #e9530e;
$color-ib-grey: #263746;
$color-ib-blue: #d3f0f1;

$input-font-size: 30px;
$input-padding-left: 50px;
$input-padding-top: 10px;

$layer-third-bg: 30;
$layer-fourth-bg: 40;
$layer-shelf-top: 50;
$layer-second-bg: 60;
$layer-shelf-bottom: 70;
$layer-first-bg: 100;


$layer-floor: 150;
$layer-woolf: 150;
$layer-messages: 150;
$layer-tapper: 200;
$layer-greeting: 300;
$layer-score: 400;
$layer-controls: 500;
$layer-app-info: 600;
$layer-turn-info: 700;
$layer-auth: 1000;

