$full-width: 1200px;
$width: 3vw;
$height: 3vw;

$sky-color: #fff;
$lite-trees-color: #d1fcf7;
$floor-color: #148997;

$shelf-top: 60%;
$shelf-bottom: 35%;

$layer-first-bg: 100;
$layer-woolf: 110;
$layer-shelf-top: 50;
$layer-shelf-bottom: 60;
$layer-messages: 110;
