$full-width: 1200px;
$width: 3vw;
$height: 3vw;

$sky-color: #fff;
$lite-trees-color: #d1fcf7;
$floor-color: #148997;

$shelf-top: 60%;
$shelf-bottom: 35%;

$color-ib-orange: #e9530e;
$color-ib-grey: #263746;
$color-ib-blue: #d3f0f1;


$layer-first-bg: 100;
$layer-woolf: 110;
$layer-shelf-top: 50;
$layer-shelf-bottom: 60;
$layer-messages: 110;
$layer-tapper: 200;
$layer-greeting: 300;
$layer-score: 400;
$layer-controls: 500;

